[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
vulture = "*"
pytest = "*"
flake8 = "*"
autoflake = "*"
uvicorn = "*"
lorem = "*"

[packages]
fastapi = "*"
mypy = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
